doctype html
html
  head
    title Simulation PDF
    style.
        div.container{
          width: 100%;
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .divider {
          height: 30px;
          width: 100%;
          color: blue;
        }
        h1.title{
            color: blue;
            text-align: center;
        }
        h2.sub_category{
          text-align: center;
        }
        img.image{
          width: 200px;
          object-fit: contain;
        }
        .question-class{
            color: red;
        };
  body
    div.container
    div.divider
    each response in data 
      h2.sub_category=response.sub_category_title
      if response.has_relation
        each item in  response.questions
          h4=item.point 
          h4=item.point_answer 
            each list in item.sub_questions 
                h4=list.question 
                if list.answer.includes("https://firebasestorage.googleapis.com/")
                  img.image(src=list.answer)
                else
                  p=list.answer || "---"
      else if response.questions.title 
        each item in  response.questions.sub_questions
          h4=item.question 
          if item.answer.includes("https://firebasestorage.googleapis.com/")
            img.image(src=item.answer)
          else
            p=item.answer || "---"

      else if response.sub_category_title == "オプション" || response.sub_category_title == "制作プラン"
        each item in response.questions 
            h4=item.question 
            each option in item.answer
              p=option.title
              p=option.price
              img.image(src=option.image_url)

      else 
        each item in response.questions 
            h4=item.question 
            if item.answer.includes("https://firebasestorage.googleapis.com/")
              img.image(src=item.answer)
            else
              p=item.answer || "---"

